PORT =5001
MONGO_URI= mongodb+srv://trendshades03:MIUQjg7RrpmhRhKh@cluster0.wip22ec.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
STREAM_API_KEY=4mfuhwe3srrp
STREAM_API_SECRET=8x4h34h896tcusp3j9b6zhkmwc7yyagsmxkn8dy449nst2pz4cbntnx7u5br7823
JWT_SECRET_KEY=onVy5upVclK7GtKGFJIqodUqGA3Dc+8Vfft5nNNaoZQ=
NODE_ENV=development